*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    /* Propiedad: valor */
    background-color:rgb(245, 201, 201);
}

header{
    display: flex;
    width: 100%;
    background-color: rgb(238, 201, 132);
}

.menu{
    display: flex;
    width: 100%;
    height: 70px;
    justify-content: space-between;
    align-items: center;
}

.logo-menu img{
    border-radius: 20px;
    width: 90px;
    height: 90px;
}
.enl-menu a{
    text-decoration: none;
    color: black;
    font-weight: bolder;
    margin-right: 60px;
    font-size: 22px;
    font-family: 'Lobster', cursive;
}

.container{
    display: flex;
    max-width: 100vm;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.galeria{
    justify-content: center;
}

.h1-galeria{
    font-family: 'DRagonlord';
    color:black;
    font-size: 40px;
}

.galeria img{
    width: 450px;
    height: 250px;
    padding: 10px;
    border-radius: 10px;
}

/*-----------------formulario---------------*/


fieldset{
    border-radius: 5px;
    background-color: #d4b39f;
}

input{
    border-radius: 10px;
    padding: 5px;
}

button{
    background-color: blueviolet;
    color: white;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;  
}
/*-----------------sobre nosotros---------------*/


.sec-gloriosos{
    align-items: center;
    display: flex;
    flex-direction: column;
}
.div-glo{
    text-align: center;
    padding: 1rem;
    width: 70%;
}
.div-glo h1{
    margin: 1rem;
}


/*-----------------footer---------------*/

footer{
    display: flex;
    background-color:rgb(238, 201, 132);
    padding: 1.5rem;
    justify-content: center;
    align-items: center;
}

footer > a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-right: 20px;
    font-size: 22px;
    font-family: 'Lobster', cursive;
}